/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        launch_slack: launch_slack {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&spotlight_search &kp LS(S) &kp L &kp A &kp C &kp K &kp ENTER>;
            label = "LAUNCH_SLACK";
            wait-ms = <2>;
        };

        launch_chrome: launch_chrome {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&spotlight_search &kp LS(G) &kp O &kp O &kp G &kp L &kp E &kp ENTER>;
            label = "LAUNCH_CHROME";
            wait-ms = <2>;
        };

        spotlight_search: spotlight_search {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE)>;
            label = "SPOTLIGHT_SEARCH";
            wait-ms = <1>;
        };

        launch_notion: launch_notion {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&spotlight_search &kp LS(N) &kp O &kp T &kp I &kp O &kp N &kp ENTER>;
            label = "LAUNCH_NOTION";
            wait-ms = <2>;
        };

        launch_vscode: launch_vscode {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&spotlight_search &kp LS(V) &kp I &kp S &kp U &kp A &kp L &kp RET>;
            label = "LAUNCH_VSCODE";
            wait-ms = <2>;
        };

        launch_android_studio: launch_android_studio {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&spotlight_search &kp LS(A) &kp N &kp D &kp R &kp O &kp I &kp D &kp RET>;
            label = "LAUNCH_ANDROID_STUDIO";
            wait-ms = <2>;
        };

        launch_xcode: launch_xcode {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&spotlight_search &kp LS(X) &kp C &kp O &kp D &kp E &kp RET>;
            label = "LAUNCH_XCODE";
            wait-ms = <2>;
        };

        launch_simulator_ios: launch_simulator_ios {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&spotlight_search &kp LS(S) &kp I &kp M &kp U &kp L &kp A &kp T &kp O &kp R &kp RET>;
            label = "LAUNCH_SIMULATOR_IOS";
            wait-ms = <2>;
        };

        launch_telegram: launch_telegram {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&spotlight_search &kp LS(T) &kp E &kp L &kp E &kp RET>;
            label = "LAUNCH_TELEGRAM";
            wait-ms = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        zero_alphas {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H    &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                         &kp LGUI  &mo 1  &kp SPACE    &kp RET  &mo 2  &mo 3
            >;
        };

        one_misc {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESC           &kp N1        &kp N2       &kp N3        &kp N4   &kp N5       &kp N6   &kp N7  &kp N8  &kp N9  &kp N0  &kp LA(BACKSPACE)
&kp LEFT_CONTROL  &kp CAPSLOCK  &kp LS(TAB)  &kp LEFT_GUI  &kp TAB  &trans       &trans   &trans  &trans  &trans  &trans  &trans
&kp LSHFT         &kp LEFT_ALT  &kp LS(TAB)  &kp LCTRL     &kp TAB  &trans       &trans   &trans  &trans  &trans  &trans  &trans
                                             &kp LGUI      &trans   &kp SPACE    &kp RET  &trans  &trans
            >;
        };

        two_numpad {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp GRAVE  &kp TILDE  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp COMMA        &kp PLUS      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ASTERISK  &kp BSPC
&kp LCTRL  &kp MINUS  &kp EQUAL  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp COLON        &kp MINUS     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp SLASH     &kp APOSTROPHE
&kp LSHFT  &kp UNDER  &kp PLUS   &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp BACKSLASH    &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp DOT       &kp DELETE
                                 &kp LGUI              &mo 4                  &kp SPACE        &kp RET       &trans        &trans
            >;
        };

        three_arrows {
            bindings = <
&kp TAB         &trans        &trans  &trans        &trans  &trans       &trans     &trans    &trans        &trans     &trans  &trans
&kp LCTRL       &trans        &trans  &trans        &trans  &trans       &kp LEFT   &kp DOWN  &kp UP_ARROW  &kp RIGHT  &trans  &trans
&kp LEFT_SHIFT  &kp LEFT_ALT  &trans  &trans        &trans  &trans       &trans     &trans    &trans        &trans     &trans  &trans
                                      &kp LEFT_GUI  &mo 5   &kp SPACE    &kp ENTER  &trans    &trans
            >;
        };

        four_function {
            bindings = <
&kp TAB           &trans        &trans                    &trans         &kp LG(LS(NUMBER_5))  &kp LC(GRAVE)    &trans        &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&kp LEFT_CONTROL  &trans        &kp LG(LC(LS(NUMBER_4)))  &kp LG(LA(J))  &spotlight_search     &trans           &kp LEFT_ALT  &kp F4  &kp F5  &kp F6  &kp F12  &trans
&kp LEFT_SHIFT    &kp LEFT_ALT  &trans                    &trans         &trans                &trans           &trans        &kp F1  &kp F2  &kp F3  &trans   &trans
                                                          &kp LEFT_GUI   &trans                &kp SPACE        &kp ENTER     &trans  &trans
            >;
        };

        five_shortcuts {
            bindings = <
&kp TAB           &trans                  &trans         &trans          &trans          &launch_telegram    &trans     &trans          &launch_simulator_ios  &trans  &trans  &trans
&kp LEFT_CONTROL  &launch_android_studio  &launch_slack  &trans          &trans          &trans              &trans     &trans          &trans                 &trans  &trans  &trans
&kp LEFT_SHIFT    &kp LEFT_ALT            &launch_xcode  &launch_chrome  &launch_vscode  &trans              &trans     &launch_notion  &trans                 &trans  &trans  &trans
                                                         &kp LEFT_GUI    &trans          &kp SPACE           &kp ENTER  &trans          &trans
            >;
        };
    };
};
